
body {
    /* Background for all pages */
    background-color:       #1B1B1B;

    background-size:        200px;
    background-repeat:      repeat;
}

hr {
    height:                 5px;
    border:                 none;
    background:             black;
}

h1 p hr {
    color:                  black;
    text-align:             left;
}

h1 {
    text-align:             left;
    font-size:              22px;
    line-height:            0.5em;
}

p {
    /* default text */
    font-family:            "Times New Roman", Times, serif;
    font-size:              20px;
    word-wrap:              break-word;
    color:                  black;
}

p.maintext {
    font-family:            "Times New Roman", Times, serif;
    font-size:              20px;
    word-wrap:              break-word;
}

p.maintext::first-letter {
    font-size:              1.5em;
}

table {
    -webkit-touch-callout:  none;
    -webkit-user-select:    none;
    -khtml-user-select:     none;
    -moz-user-select:       none;
    -ms-user-select:        none;
    user-select:            none;
    z-index:                2;
}

#box {
    margin:                 1em;
    padding:                0.3em;
    background-color:       black;
    overflow-x:             hidden;
    overflow-y:             scroll;
    text-align:             left;
    word-wrap:              break-word;
    z-index:                2;
}

#box table {
    z-index:                3;
}

